<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
    <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@zeta2.labunix.uqam.ca:1521:baclab</property>
    <property name="hibernate.connection.username">gj191101</property>
    <property name="hibernate.connection.password">gLzSNOZq</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.ast.ASTQueryTranslatorFactory</property>
    <mapping resource="zoo/entity/Zone.hbm.xml"/>
    <mapping resource="zoo/entity/Chefdezone.hbm.xml"/>
    <mapping resource="zoo/entity/Choix.hbm.xml"/>
    <mapping resource="zoo/entity/Lotissement.hbm.xml"/>
    <mapping resource="zoo/entity/Mesure.hbm.xml"/>
    <mapping resource="zoo/entity/Surveillance.hbm.xml"/>
    <mapping resource="zoo/entity/Espece.hbm.xml"/>
    <mapping resource="zoo/entity/Employe.hbm.xml"/>
    <mapping resource="zoo/entity/Surveillant.hbm.xml"/>
    <mapping resource="zoo/entity/Salaire.hbm.xml"/>
    <mapping resource="zoo/entity/Individu.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
